/* ==================================Обнуляющий стиль===================== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    /* Убираем маркировку */
    list-style: none; 
}

/* Убирает подчеркивание у ссылки и подсвечивание ссылком, по которым был произведён переход */
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    /* Наследует для заголовков бразуерный шрифт для обынчых элементов */
    font-weight: inherit;
    font-size: inherit;
    
}

img {
    /* Убирает отступ у изображений */
    vertical-align: top;
}

body,
html {
    height: 100%;
    line-height: 1;
}

/* ======================================================================= */